<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Finalstream.LinearAudioPlayer.Plugin.Lastfm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Finalstream.LinearAudioPlayer.Plugin.LastFm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Finalstream.LinearAudioPlayer.Plugin.Lastfm.Properties.Settings>
            <setting name="SessionKey" serializeAs="String">
                <value />
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
        </Finalstream.LinearAudioPlayer.Plugin.Lastfm.Properties.Settings>
        <Finalstream.LinearAudioPlayer.Plugin.LastFm.Properties.Settings>
            <setting name="SessionKey" serializeAs="String">
                <value/>
            </setting>
        </Finalstream.LinearAudioPlayer.Plugin.LastFm.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
